---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: lab-digest
spec:
  imageDigestSources:
  - mirrors:
    - fw.int.rhx:6000
    source: quay.io
  - mirrors:
    - fw.int.rhx:6001
    source: registry.redhat.io
  - mirrors:
    - fw.int.rhx:6002
    source: registry.access.redhat.com
  - mirrors:
    - fw.int.rhx:6003
    source: registry.connect.redhat.com
