apiVersion: v1
baseDomain: "{{ domain }}"
compute:
- name: worker
  replicas: 0 
controlPlane:
  name: master
  replicas: 1 
metadata:
  name: {{ item }}
networking: 
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16 
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: /dev/disk/by-id/wwn-{{ clusters[item].wwn }}
pullSecret: '{{ pullsecret | regex_replace('\'', '"') }}'
{% if enable_local_docker_mirror %}
imageDigestSources:
- mirrors:
  - fw.int.rhx:5001
  source: quay.io
- mirrors:
  - fw.int.rhx:5002
  source: ghcr.io
- mirrors:
  - fw.int.rhx:5003
  source: registry.redhat.io
- mirrors:
  - fw.int.rhx:5004
  source: docker.io
- mirrors:
  - fw.int.rhx:5005
  source: gcr.io
{% endif %}
{% if enable_disconnected %}
{% include "disconnected-imagedigestsources.yaml" %}
{% endif %}

sshKey: |
  {{ sshkey | regex_replace('"', '') }}
{% if additional_trust_bundle is defined %}
additionalTrustBundle: |
{{ additional_trust_bundle | indent(2, True) }}
# see https://docs.openshift.com/container-platform/4.14/networking/configuring-a-custom-pki.html
additionalTrustBundlePolicy: Always
{% endif %}
#{% if notjustyethttp_proxy is defined %}
proxy:
  httpProxy: {{ http_proxy }}
  httpsProxy: {{ https_proxy }}
  noProxy: {{ no_proxy }}
#{% endif %}
