apiVersion: v1
baseDomain: "{{ domain }}"
{% if fips_enabled %}
fips: true
{% endif %}
compute:
- name: worker
  replicas: 4
controlPlane:
  name: master
  replicas: 3 
metadata:
  name: cluster
networking: 
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16 
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ pullsecret | regex_replace('\'', '"') }}'
{% if enable_disconnected %}
imageDigestSources:
  - mirrors:
    - fw.int.rhx/ocp/openshift-release-dev
    source: quay.io/openshift-release-dev
  - mirrors:
    - fw.int.rhx/ocp/lvms4
    source: registry.redhat.io/lvms4
  - mirrors:
    - fw.int.rhx/ocp/openshift4
    source: registry.redhat.io/openshift4
  - mirrors:
    - fw.int.rhx/ocp/rhel8
    source: registry.redhat.io/rhel8
  - mirrors:
    - fw.int.rhx/ocp/openshift-gitops-1
    source: registry.redhat.io/openshift-gitops-1
  - mirrors:
    - fw.int.rhx/ocp/rh-sso-7
    source: registry.redhat.io/rh-sso-7
  - mirrors:
    - fw.int.rhx/ocp/rhacm2
    source: registry.redhat.io/rhacm2
  - mirrors:
    - fw.int.rhx/ocp/rhel9
    source: registry.redhat.io/rhel9
  - mirrors:
    - fw.int.rhx/ocp/multicluster-engine
    source: registry.redhat.io/multicluster-engine
  - mirrors:
    - fw.int.rhx/ocp/community-operator-pipeline-prod
    source: quay.io/community-operator-pipeline-prod
  - mirrors:
    - fw.int.rhx/ocp/kubebuilder
    source: gcr.io/kubebuilder
  - mirrors:
    - fw.int.rhx/ocp/hybridcloudpatterns
    source: quay.io/hybridcloudpatterns
  - mirrors:
    - fw.int.rhx/ocp/ubi8
    source: registry.redhat.io/ubi8
  - mirrors:
    - fw.int.rhx/ocp/ubi9
    source: registry.redhat.io/ubi9
  - mirrors:
    - fw.int.rhx/ocp/ansible
    source: quay.io/ansible
  - mirrors:
    - fw.int.rhx/ocp/ansible-automation-platform-24
    source: registry.redhat.io/ansible-automation-platform-24
{% endif %}
{% if enable_caching %}
imageDigestSources:
- mirrors:
  - fw.int.rhx:6000
  source: quay.io
- mirrors:
  - fw.int.rhx:6001
  source: registry.redhat.io
- mirrors:
  - fw.int.rhx:6002
  source: registry.access.redhat.com
- mirrors:
  - fw.int.rhx:6003
  source: registry.connect.redhat.com
{% endif %}

sshKey: |
  {{ sshkey | regex_replace('"', '') }}
  {{ sshkey2 | regex_replace('"', '') | default('') }}
{% if additional_trust_bundle is defined %}
additionalTrustBundle: |
{{ additional_trust_bundle | indent(2, True) }}
# see https://docs.openshift.com/container-platform/4.14/networking/configuring-a-custom-pki.html
additionalTrustBundlePolicy: Always
{% endif %}
{% if sdfsdfhttp_proxy is defined %}
proxy:
  httpProxy: {{ http_proxy }}
  httpsProxy: {{ https_proxy }}
  noProxy: {{ no_proxy }}
{% endif %}
