[build_control]
localhost ansible_user=michele

[aap_controllers]
rhel1 ansible_ssh_private_key_file=~/.ssh/id_ansible ansible_user=michele ansible_host=192.168.66.130 ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

[automation_hub]
rhel2 ansible_ssh_private_key_file=~/.ssh/id_ansible ansible_user=michele ansible_host=192.168.66.131 ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

[eda_controllers]

[aap_controllers:vars]

[automation_hub:vars]

[all:vars]
ansible_user=michele
username=michele
controller_hostname=rhel1
automation_hub_token_vault="{{ lookup('file', '~/.ansible-hub-token') }}"

#ansible_user=michele
#ansible_ssh_pass=mypass
#ansible_become_pass=mypass
#ansible_remote_tmp=/tmp/.ansible
#username=myuser
#controller_hostname=192.168.5.207
#automation_hub_url_vault=https://cloud.redhat.com/api/automation-hub/api/galaxy/
