name: Ansible Lint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install collections
        run: ansible-galaxy collection install -r requirements.yml

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
